a {
    text-decoration: none;
    color: rgb(254, 254, 254);
  }

  main {
    margin-left: 6em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 8em;
  }
  
  a {
	padding: .75em 1.75em;
	color: white;
	background-color: #4B3D64;
	border-radius: .5rem;
	display: block;
}

  p {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 2rem;
  }
   img {
    width: 100%;
  }
  h2 {
    margin-bottom: 2rem;
  }