main {
    padding-top: 3em;
    padding-right: 15em;
    padding-bottom: 6em;
    padding-left: 15em;
  }
  h1 {
    text-align: center;
  }

  .intro {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }

  strong {
    font-weight: 500;
  }
  h2 {
    padding-top: 1em;
  }