<footer>
	<p class="logo">vip-it.nl</p>
	<p>IT omscholing voor mensen met een visuele beperking</p>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/over-ons">Over ons</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</footer>