<footer aria-label="Footer">
	<a aria-label="Logo vip-it" href="/">
		<img aria-hidden="true" src="/images/vip-it-logo.png" alt="Logo vip-it">
	</a>
	<p>IT omscholing voor mensen met een visuele beperking</p>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/over-ons">Over ons</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</footer>