<form action="">
	<label for="email">Jouw email</label>
	<input id="email" type="text">

	<label for="subject">Onderwerp</label>
	<input id="subject" type="text">

	<label for="message">Bericht</label>
	<textarea name="" id="message" cols="30" rows="10"></textarea>

	<button class="btn-primary" type="submit">Verstuur</button>
</form>