<header>
		<div>
			<a class="skip-nav-link" href="#main-content">Navigatie overslaan</a>
			<a aria-label="Logo vip-it" href="/">
				<img aria-hidden="true" src="/images/vip-it-logo.png" alt="Logo vip-it">
			</a>
		</div>
		<nav>
			<nav>
				<ul>
					{% for page in collections.all %}
						<li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
	</header>